.cart-item{
  width: 100%;
  display: flex;
  flex-direction: row ;
  align-items: center;
  border: 1px solid grey;
  justify-content: space-around;
}
.description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}
.img-fluid{
  width: 150px;
}
.quantity{
  padding: 1rem;
}
.close{
  justify-content: flex-end;
}